body{
    font-family: 'Karla', sans-serif;
    margin: 0px;
}


#dollar{
    display: flex;
    height: 40px;
    font-size: 10px;
    background-color: #efcbd7;
}
#dollar>div{
    text-align: center;
    align-self: center;
    flex-grow: 1;
    font-weight: 700;
    cursor: pointer;
}

/*NAV BAR*/
#nav_bar{
    width: 100%;
    height: 135px;
    background-color: black;
    display: flex;
}
#nav_bar>div{
    height: 75%;
    margin: auto;
}
#nav_bar>div:nth-child(1){
    flex-grow: 0.5;
}
#nav_bar>div:nth-child(2){
    flex-grow: 2.5;
}
#nav_bar>div:nth-child(3){
    flex-grow: .5;
}

#conversion_div{
    padding: 15% 20%;
}
#conversion{
    width: 60%;
    font-size: 11px;
    font-weight: 700;
    color: rgb(150, 141, 141);
    color: white;
    border: 1px solid black;
    background-color: black;
}

#nav_grid{
    display: flex;
    flex-direction: column;
}
#nav_grid>div:nth-child(1){
    width: 100%;
    height: 70%;
    align-self: center;
}
#nav_grid>div:nth-child(1) img{
    margin-left: 47%;
    width: auto;
    cursor: pointer;
}
#nav_grid>div:nth-child(2){
    width: 100%;
    height: 30%;
    display: flex;
}
#nav_grid>div:nth-child(2) div{
    width: 10%;
    margin: 1% .8%;
    padding: 2px;
    height: 90%;
    color: white;
    font-size: small;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}
#nav_grid>div:nth-child(2) div:nth-child(1){
    margin-left: 10%;
}

#options{
    display: flex;
    height: 24px;
}
#options>div{
    margin-top: 18px;
    width: 22px;
    height: 22px;
    margin-left: 1%;
    flex-basis: 22%;
    display: flex;
    cursor: pointer;
}

/* Login COntent */
#content{
    width: 100%;
    height: 500px;
}
#content>div{
    margin: auto;
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
}
#content>div>div{
    width: 100%;
    margin: 2%;
    height: 30px;
}
#content>div>div:nth-child(1){
    margin-top: 20%;
    text-align: center;
    font-size: 26px;
}
#content>div>div:nth-child(2){
    text-align: center;
    font-size: 14px;
    height: 16px;
}
#content>div>div:nth-child(3),
#content>div>div:nth-child(4),
#content>div>div:nth-child(5),
#content>div>div:nth-child(6),
#content>div>div:nth-child(7){
    flex-grow: .1;
}
#content>div>div:nth-child(3)>input,
#content>div>div:nth-child(4)>input,
#content>div>div:nth-child(5)>input,
#content>div>div:nth-child(6)>input{
    width: 98%;
    height: 100%;
    border: 1px solid rgba(128, 128, 128, 0.301);
}
#content>div>div:nth-child(7){
    width: 100%;
    text-align: center;
    padding-top: 3%;
    background-color: black;
    color: white;
    font-size: 14px;
    cursor: pointer;
}


/* Fotter */
#footer{
    background-color: #2e2e2e;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
}
#footer>div{
    margin: 1%;
    width: 94%;
    display: flex;
}
#footer_center>div{
    margin: 1% 5%;
    width: 80%;
    height: 85%;
    color: white;
}
#footer_center>div>p{
    font-size: 13px;
    cursor: pointer;
}
#footer_center{
        height: 350px;
}
#connection{
    height: 100px;
}
#connection>div{
    width: 2%;
    margin: 1%;
}
#connection>div:nth-child(1){
    margin-left: 5%;
}
#connection>div>img{
    width: 100%;
    margin: 1%;
    cursor: pointer;
}
#copyright{
        height: 50px;
}
#copyright>p{
    font-size: x-small;
        color: white;
        margin-left: 5%;
}