#content{
    margin: -8px 0;
    display: flex;
    font-family: 'Karla', sans-serif;
}

#left_pane{
margin: 0px;
width: 55%;
height: auto;
}
#logo{
    margin-top: 7%;
    width: 100%;
    flex-grow: 1;
    padding-left: 50%;
}
#logo>img{
    text-align: center;
    width: 12%;
}
#progress{
    text-align: center;
    margin-top: 16px;
    margin-left: 10%;
    font-size: 12px;
    word-spacing: 4px;
}
#progress>span{
    cursor: pointer;
}
#express{
    margin-left: 22%;
    margin-top: 20px;
    display: flex;
    width: 65%;
    border: 1px solid rgba(128, 128, 128, 0.267);
    height: 70px;
    border-radius: 5px;
}
#express>div{
    flex-basis: 22.5%;
    margin: 1%;
    align-self: center;
}
#express>div>img{
    width: 100%;
}
#line{
    margin-left: 22%;
    margin-top: 20px;
    width: 65%;
    border: .5px solid rgba(128, 128, 128, 0.267);
}
#shipping_info{
    margin-left: 22%;
    margin-top: 20px;
    width: 65%;
    height: 700px;
    border: .5px solid rgba(128, 128, 128, 0.267);
}
#shipping_info>div:nth-child(1){
    margin-top: 40px;
}
#shipping_info>div:nth-child(2){
    margin-top: 20px;
    display: flex;
}
#shipping_info>div:nth-child(2)>div{
    width: 20%;
    align-self: center;
    font-size: 14px;
}
#shipping_info>div:nth-child(2)>div>img{
    width: 80%;
}
#shipping_info>div:nth-child(2)>div:nth-child(2){
    flex-grow: 1;
}
#shipping_info>div:nth-child(3){
    margin-top: 20px;
    font-size: 14px;
}
#shipping_info>div:nth-child(4){
    margin-top: 30px;
    font-size: 18px;
}
#address{
    margin-top: 40px;
}
#address>input{
    border: 1px solid rgba(128, 128, 128, 0.5);
    margin: 1%;
    width: 98%;
    height: 35px;
    border-radius: 5px;
}
#address>input:nth-child(1){
    width: 48%;
}


#right_pane{
margin: 0px;
width: 45%;
height: auto;
border-left: 1px solid rgba(128, 128, 128, 0.26);
background-color: #fafafa;
}

